@using Jsos3.Groups.Helpers
@model Jsos3.Groups.Models.StudentCourseDto
@inject IViewHelper viewHelper

<div class="course-info">
    <div>Prowadz¹cy kurs: @Model.Lecturer</div>
    <div>Punkty ECTS: @Model.Ects</div>
    <div>Ocena koñcowa: @viewHelper.DashWhenZero(Model.Grade ?? decimal.Zero)</div>
</div>