.course-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.warn {
    color: orange;
}

.success {
    color: green;
}

.error {
    color: red;
}