@using Jsos3.Groups.ViewModels.Builders

@model Jsos3.Groups.ViewModels.Models.StudentIndexViewModel

@{
    ViewBag.Title = "Grupy studenta";
    var courseViewModels = new CourseViewModelBuilder().BuildList(Model.Courses);
}

@Html.Partial("_Filter", Model)

@Html.Partial("_SemesterSummary", Model.SemesterSummary)

<div class="accordion">
    @foreach (var courseViewModel in courseViewModels)
    {
        @Html.Partial("_Course", courseViewModel)
    }
</div>