Tests/DBTester/.vs
Tests/DBTester/DBTester/obj
Tests/DBTester/DBTester/bin
Tests/DBTester/DBUnitTests/bin
Tests/DBTester/DBUnitTests/obj
Tests/DBTester/Models/obj
Tests/DBTester/Models/bin
Tests/DBTester/DataProducer/bin
Tests/DBTester/DataProducer/obj
Tests/DBTester/Shared/bin
Tests/DBTester/Shared/obj
**/.vs
**/bin
**/obj
