.date-range-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem;
}

.calendar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
}

.day-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-hours {
    display: flex;
    flex-direction: column;
}

.hour-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.groups-at-hour {
    display: flex;
    flex-direction: column;
}

.group-cards {
    width: 14rem;
    height: 10rem;
    overflow: auto;
    display: flex;
    flex-direction: row;
}

.group-card {
    width: 100%;
}