@model Jsos3.Groups.Models.CourseDto

<div class="accordion-item">
    <h2 class="accordion-header" id="course-@Model.Id-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#course-@Model.Id" aria-controls="course-@Model.Id">
            <div>@Model.Name</div>
        </button>
    </h2>

    <div id="course-@Model.Id" class="accordion-collapse collapse" aria-labelledby="course-@Model.Id-header">
        <div class="accordion-body">
            <div class="groups-container">
                @foreach (var group in Model.Groups)
                {
                    @Html.Partial("../Components/_Group.cshtml", group)
                }
            </div>
        </div>
    </div>
</div>