@using Jsos3.Groups.ViewModels.Builders
@model Jsos3.Groups.ViewModels.Models.LecturerIndexViewModel

@{
    ViewBag.Title = "Grupy";
}

@Html.Partial("../Components/_Filter", Model)

<div class="accordion">
    @foreach (var courseViewModel in Model.Courses)
    {
        @Html.Partial("_Course", courseViewModel)
    }
</div>