@model Jsos3.Grades.Models.GradeIndexViewModel

@{
    ViewBag.Title = "Grupy studenta";
}
<!--/StudentGrade?groupId=3fb7106c-d9e5-40f4-9-->

<div>
    <h3>Oceny Wybrana Grupa</h3>
    <table border="1">
        <tr>
            <th class="description">Opis</th>
            <th class="grade">Ocena</th>
            <th class="category">Kategoria</th>
        </tr>
        <tr>
            <td class="description">Opis</td>
            <td class="grade">Ocena</td>
            <td class="category">Kategoria</td>
        </tr>
        @foreach (var grade in Model.Grade.Grades)
        {
            <tr>
                <td class="description">@grade.Text</td>
                <td class="grade">@grade.Grade</td>
                <td class="category">@grade.IsFinal</td>
            </tr>
        }
    </table>
</div>