@{
    ViewData["Title"] = "Home Page";
}
<div class="main">
</div>
<div class="text-center">
    <h1 class="display-4 jsos-title">Welcome to Jsos3</h1>
    <a class="btn btn-outline-light" asp-controller="Authorization" asp-action="Login">Zaloguj się</a>
    <a class="btn btn-outline-light" asp-controller="Authorization" asp-action="Register">Zarejestruj się</a>
</div>
